<div class="youtube-video" ng-controller="Limbo.Umbraco.YouTube.Video as vm" ng-class="{loading: vm.loading}">
    <div class="youtube-video-input">
        <input type="text" ng-show="!vm.embed" ng-model="model.value.source" ng-change="vm.updated()" />
        <textarea ng-show="vm.embed" ng-model="model.value.source" ng-change="vm.updated()" rows="5"></textarea>
        <!--<button type="button" ng-click="vm.add()" class="btn btn-default">
            <i class="icon icon-search"></i>
        </button>-->
        <button type="button" ng-click="vm.refresh()" class="btn btn-default">
            <i class="icon icon-refresh"></i>
        </button>
    </div>
    <div class="youtube-video-details" ng-show="model.value.video">
        <div class="youtube-thumbnail">
            <img ng-src="{{vm.thumbnail.url}}" width="{{vm.thumbnail.width}}" height="{{vm.thumbnail.height}}" />
        </div>
        <div>
            <table>
                <tr>
                    <th>
                        <localize key="dreambroker_id">ID</localize>
                    </th>
                    <td><code>{{vm.videoId}}</code></td>
                </tr>
                <tr>
                    <th>
                        <localize key="dreambroker_title">Title</localize>
                    </th>
                    <td>{{vm.title}}</td>
                </tr>
                <tr>
                    <th>
                        <localize key="dreambroker_duration">Duration</localize>
                    </th>
                    <td>
                        <span ng-repeat="dur in vm.duration">
                            {{dur.value}} <small>{{dur.text}}</small>
                        </span>
                        <em ng-show="vm.duration.length == 0">N/A</em>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <pre>{{model.value | json}}</pre>
    <pre>{{vm.thumbnail | json}}</pre>
    <umb-load-indicator ng-if="vm.loading"></umb-load-indicator>
</div>